.profile-pic{
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    justify-content: baseline;
    width: 300px;
    margin: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .button-pro {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: black;
    background-color: #F7A4A4;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }